*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
.btn-praimery{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background: #ef5b05;
    /* padding: 16px 30px; */
}
.btn-phone{
    background-color: #FFFFFF;
    color:#ef5b05;
    border-color: #ef5b05;
    font-weight: 500px;
    font-size: 15px;
    height:40px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;


    
}
.header{
    background:#FFF8F3;
    background-image: url("../images/header_bg.png"),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
.my-image{
    height: 676px;
    width: 584px;
    margin-left: 20px;
}
/* header and nav title */

.nav-title {
    font-weight:  800;
    font-size: 45px;
}
.text-primary{
    color: rgb(255, 94, 0);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner styles */

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
        font-weight: 700;
        font-size: 50px;
}
.banner-sub-title{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 20px;
}
.banner-discription{
    color: rgb(93, 0, 170);
    margin-bottom: 30px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* Abouta Saction styles */

.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}
.section-discriotion{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700px;
    font-size: 20px;
    color:#474747;
}
/* what i do */
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

/* Resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .discription{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contzct style */

.contact .section-title{
    text-align: left;
}
.contact{
    display:flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom : 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
input{
    height: 64px;
}
.contact-title{
    margin-bottom: 20px;
}
.contact a{
    text-decoration: none;
}